<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Signals - Lect.</string>
		<key>Time</key>
		<string>Mon, Wed • 12:00PM - 2:00 PM</string>
		<key>Code</key>
		<string>EC401 A1</string>
		<key>Room</key>
		<string>PHO 203</string>
		<key>Professor</key>
		<string>Nawab</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Signals - O.H.</string>
		<key>Time</key>
		<string>Mon • 10:00AM - 11:00 AM</string>
		<key>Code</key>
		<string>EC401 A1</string>
		<key>Room</key>
		<string>PHO 433</string>
		<key>Professor</key>
		<string>Nawab</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>The Crusades</string>
		<key>Time</key>
		<string>Tue, Thu • 11:00AM - 12:30 PM</string>
		<key>Code</key>
		<string>HI204 A1</string>
		<key>Room</key>
		<string>CAS 316</string>
		<key>Professor</key>
		<string>Backman</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Disc Mathematics</string>
		<key>Time</key>
		<string>Tue, Thr • 12:30PM - 2:00 PM</string>
		<key>Code</key>
		<string>MA193 A1</string>
		<key>Room</key>
		<string>PSY B39</string>
		<key>Professor</key>
		<string>Enkosky</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Mechanics I - Lect.</string>
		<key>Time</key>
		<string>Tue, Thu • 2:00PM - 4:00 PM</string>
		<key>Code</key>
		<string>EK301 B1</string>
		<key>Room</key>
		<string>PHO 210</string>
		<key>Professor</key>
		<string>Holt</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Mechanics I - Disc.</string>
		<key>Time</key>
		<string>Mon, Tue • 6:00PM - 10:00 PM</string>
		<key>Code</key>
		<string>EK301 B1</string>
		<key>Room</key>
		<string>PHO 202</string>
		<key>Professor</key>
		<string>Holt</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Physics II - Lect.</string>
		<key>Time</key>
		<string>Tue, Thu • 5:00PM - 6:30 PM</string>
		<key>Code</key>
		<string>PY212 B1</string>
		<key>Room</key>
		<string>SCI B23</string>
		<key>Professor</key>
		<string>Jariwala</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Physics II - Disc.</string>
		<key>Time</key>
		<string>Wed • 11:00AM - 12:00 PM</string>
		<key>Code</key>
		<string>PY212 D1</string>
		<key>Room</key>
		<string>SCI B58</string>
		<key>Professor</key>
		<string>Jariwala</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Physics II - Lab</string>
		<key>Time</key>
		<string>Wed • 3:30PM - 6:30 PM</string>
		<key>Code</key>
		<string>PY212 L3</string>
		<key>Room</key>
		<string>SCI B09</string>
		<key>Professor</key>
		<string>Jariwala</string>
	</dict>
</array>
</plist>
