<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Signals &amp; Systems</string>
		<key>Time</key>
		<string>Mon, Wed • 12:00PM - 2:00 PM</string>
		<key>Code</key>
		<string>EC401 A1</string>
		<key>Room</key>
		<string>PHO 203</string>
		<key>Professor</key>
		<string>Nawab</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Signals &amp; Systems</string>
		<key>Time</key>
		<string>Mon, Wed • 12:00PM - 2:00 PM</string>
		<key>Code</key>
		<string>EC401 A1</string>
		<key>Room</key>
		<string>PHO 203</string>
		<key>Professor</key>
		<string>Nawab</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Signals &amp; Systems</string>
		<key>Time</key>
		<string>Mon, Wed • 12:00PM - 2:00 PM</string>
		<key>Code</key>
		<string>EC401 A1</string>
		<key>Room</key>
		<string>PHO 203</string>
		<key>Professor</key>
		<string>Nawab</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Signals &amp; Systems</string>
		<key>Time</key>
		<string>Mon, Wed • 12:00PM - 2:00 PM</string>
		<key>Code</key>
		<string>EC401 A1</string>
		<key>Room</key>
		<string>PHO 203</string>
		<key>Professor</key>
		<string>Nawab</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Signals &amp; Systems</string>
		<key>Time</key>
		<string>Mon, Wed • 12:00PM - 2:00 PM</string>
		<key>Code</key>
		<string>EC401 A1</string>
		<key>Room</key>
		<string>PHO 203</string>
		<key>Professor</key>
		<string>Nawab</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Signals &amp; Systems</string>
		<key>Time</key>
		<string>Mon, Wed • 12:00PM - 2:00 PM</string>
		<key>Code</key>
		<string>EC401 A1</string>
		<key>Room</key>
		<string>PHO 203</string>
		<key>Professor</key>
		<string>Nawab</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Signals &amp; Systems</string>
		<key>Time</key>
		<string>Mon, Wed • 12:00PM - 2:00 PM</string>
		<key>Code</key>
		<string>EC401 A1</string>
		<key>Room</key>
		<string>PHO 203</string>
		<key>Professor</key>
		<string>Nawab</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Signals &amp; Systems</string>
		<key>Time</key>
		<string>Mon, Wed • 12:00PM - 2:00 PM</string>
		<key>Code</key>
		<string>EC401 A1</string>
		<key>Room</key>
		<string>PHO 203</string>
		<key>Professor</key>
		<string>Nawab</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Signals &amp; Systems</string>
		<key>Time</key>
		<string>Mon, Wed • 12:00PM - 2:00 PM</string>
		<key>Code</key>
		<string>EC401 A1</string>
		<key>Room</key>
		<string>PHO 203</string>
		<key>Professor</key>
		<string>Nawab</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Signals &amp; Systems</string>
		<key>Time</key>
		<string>Mon, Wed • 12:00PM - 2:00 PM</string>
		<key>Code</key>
		<string>EC401 A1</string>
		<key>Room</key>
		<string>PHO 203</string>
		<key>Professor</key>
		<string>Nawab</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Signals &amp; Systems</string>
		<key>Time</key>
		<string>Mon, Wed • 12:00PM - 2:00 PM</string>
		<key>Code</key>
		<string>EC401 A1</string>
		<key>Room</key>
		<string>PHO 203</string>
		<key>Professor</key>
		<string>Nawab</string>
	</dict>
</array>
</plist>
